<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style/style_for_decode.css">
    <title>decode</title>
</head>
<body>
    <form method="post">
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="decode">
        {% if message %}
        <p style="color: red;">{{ message }}</p>
        {% endif %}
    </form>
    {% if copy %}
     <p style="text-align: center;">{{ copy }}</p>
    {% endif %}
</body>
</html>
