<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/style/style_for_decode.css">
    <title>decode</title>
</head>
<body>
    <form method="post">
        <input type="text" id="db_name" name="db_name"><br><br>
        <input type="submit" value="получить пароль">
        {% if message %}
        <p style="color: red;">{{ message }}</p>
        {% endif %}
    </form>
    {% if copy %}
     <p style="text-align: center;">{{ copy }}</p>
    {% endif %}

 <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 60000);
 </script>
</body>
</html>
